<a href="https://colab.research.google.com/github/mariashajan007/Introduction-to-Python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))
if x>y:
  print("x is the greatest")
else:
  print("y is the greatest")

enter the first number30
enter the second number40
y is the greatest

In [ ]:
x=input("your name:")
y=input("your number:")

your name:maria
your number:8089870494

In [ ]:
x=int(input("first number"))
y=int(input("second number"))
z=int(input("third number"))
if x>y & z<x:
  print("x is the greatest")
if y>x & z>y:
  print("y is the greatest")
else:
  print("z is the greatest")

first number30
second number40
third number50
z is the greatest

In [ ]:
from traitlets.traitlets import Integer
x=int(input("number"))
if x%2==0:
   print("even number")
else:
  print("odd number")

number11
odd number

In [ ]:
for a in range(1,11):
  print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=0
for a in range(1,11):
  a%2==0
  print(a)

1
2
3
4
5
6
7
8
9
10