<a href="https://colab.research.google.com/github/mariashajan007/Introduction-to-Python/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n=int(input('Enter a number '))
for i in range(1,11):
  print(i,'x',n,'=',i*n)

Enter a number 10
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [3]:
n=int(input('Enter a number '))
a=1
while a<=10:
  print(a,'x',n,'=',a*n)
  a=a+1

Enter a number 10
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [8]:
x=input("enter a number")
d=0
for i in x:
  #print(i)
  d=d+1
print(d)

enter a number400
3

In [10]:
x=input("enter a name")
if x.isupper():
  print(x.lower())
if x.islower():
  print(x.upper())
len(x)

enter a namek
K

1

In [12]:
x=input("enter a name")
x=x.replace('a','k')
print(x)

enter a namemaria shajan
mkrik shkjkn

In [13]:
m1=['bangladesh','india','nepal','pakistan','usa']
print (m1)
m1.append('france')
print(m1)
m1.remove("pakistan")
print(m1)
m1.reverse()
print(m1)
m1.append('canada')
print(m1)
len(m1)

['bangladesh', 'india', 'nepal', 'pakistan', 'usa']
['bangladesh', 'india', 'nepal', 'pakistan', 'usa', 'france']
['bangladesh', 'india', 'nepal', 'usa', 'france']
['france', 'usa', 'nepal', 'india', 'bangladesh']
['france', 'usa', 'nepal', 'india', 'bangladesh', 'canada']

6