<a href="https://colab.research.google.com/github/mariashajan007/Introduction-to-Python/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x=int(input("enter a number"))
if x<0:
  print(x*-1)
else:
  print(x)

enter a number-10
10

In [8]:
x=int(input("enter the marks"))
if x<25:
  print("f")
elif x<25 and x<45:
   print("e")
elif x>45 and x<50:
    print("d")
elif x>50 and x<60:
    print("c")
elif x>60 and x<80:
   print("b")
else:
  print("a")

enter the marks90
a

In [10]:
x=int(input("no of classes attended"))
y=int(input("no of classes held"))
z=x/y*100
if z>75:
  print("you are allowed to sit")
else:
  print("you are not allowed")

no of classes attended80
no of classes held100
you are allowed to sit

In [27]:
print("1.addition")
print("2.substraction")
print("3.division")
print("4.multiplication")
print("5.modulus")
print("6.floor division")
print("7.exponent")

z=int(input("enter a number"))
x=int(input("first number"))
y=int(input("second number"))
if z==1:
  print(x+y)
if z==2:
  print(x-y)
if z==3:
  print(x/y)
if z==4:
  print(x*y)
if z==5:
  print(x%y)
if z==6:
  print(x//y)
if z==7:
  print(x**y)

1.addition
2.substraction
3.division
4.multiplication
5.modulus
6.floor division
7.exponent
enter a number1
first number10
second number10
20

In [28]:
m1=int(input('Enter marks of first subject '))
m2=int(input('Enter marks of second subject '))
m3=int(input('Enter marks of third subject '))
m4=int(input('Enter marks of fourth subject '))
m5=int(input('Enter marks of fifth subject '))
print('Least marks:',min(m1,m2,m3,m4,m5))
print('Maximum marks:',max(m1,m2,m3,m4,m5))

Enter marks of first subject 30
Enter marks of second subject 40
Enter marks of third subject 0
Enter marks of fourth subject 50
Enter marks of fifth subject 60
Least marks: 0
Maximum marks: 60

In [29]:
x=input("enter a name")
if x.isupper():
  print(x.lower())
if x.islower():
  print(x.upper())
len(x)

enter a nameMaria

6