<a href="https://colab.research.google.com/github/mariashajan007/Introduction-to-Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
mark=int(input("enter marks"))
if mark>50:
  print("you are passed")
if mark<50:
  print("you are failed")

enter marks80
you are passed

In [12]:
mark=int(input("enter marks"))
if mark>50:
  print("you are passed")
elif mark==50:
  print("just pass")
if mark<50:
  print("you are failed")

enter marks50
just pass

In [26]:
salary=int(input("enter salary"))
if salary>=250000:
   print("you are taxable")
   x=salary-250000
   print("tax",x*10/100)
elif salary<250000:
     print("you are not taxable")

enter salary300000
you are taxable
tax 5000.0

In [42]:
salary=int(input("enter salary"))
if salary>=250000 and salary<500000:
   print("you are taxable")
   x=salary-250000
   t=salary*10/100
   print('TAX',t)
elif salary>500000:
     print("you are taxable")
     t=salary*20/100
     print('TAX',t)
elif salary<250000:
     print("you are not taxable")

enter salary700000
you are taxable
TAX 140000.0