<a href="https://colab.research.google.com/github/mariashajan007/Introduction-to-Python/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def maria(x,y):
   z=x+y
   print("result=",z)

In [3]:
maria(5,6)

result= 11

In [7]:
def maria(x,y):
  f=x*y
  print("result",f)

In [8]:
maria(5,6)

result 30

In [20]:
def maria(salary):
  if salary>250000:
    print("you are taxable")
  if salary<250000:
    print("you are not taxable")

In [22]:
x=int(input("enter a salary"))
maria(x)

enter a salary300000
you are taxable

In [37]:
def maria(p): 
  k=0
  for a in range(1,p):
    k=k+a
  print(k)

In [38]:
maria(50)

1225

In [39]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)

In [41]:
x=int(input("enter a number"))
y=int(input("enter a number"))
add(x,y)

enter a number10
enter a number30
40