<a href="https://colab.research.google.com/github/mariashajan007/Introduction-to-Python/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
x=input("passenger travel source:")
y=input("travel destination:")
z=int(input("number of passengers:"))
print(x,y,z)

passenger travel source:bus
travel destination:manali
number of passengers:10
bus manali 10

In [9]:
x=int(input("total fare:"))
y=int(input("number of passengers:"))
print(x/y)

total fare:100000
number of passengers:30
3333.3333333333335

In [17]:
x=input("passengers name:")
y=int(input("ticket fare"))
print("passengers name" ,x,"ticket fare",y)

passengers name:maria
ticket fare33
passengers name maria ticket fare 33

In [23]:
x=int(input("enter the ticket fare"))
if x>10000:
  print("eligible gor discount")
else:
    print("not eligible")

enter the ticket fare11000
eligible gor discount

In [24]:
x=int(input("enter the ticket fare"))
if x>15000:
  print("eligible for 20% discount")
else:
  print("eligible for 10% discount")

enter the ticket fare13000
eligible for 10% discount

In [32]:
x=int(input("ticket fare"))
if x>15000:
  i=x*20/100
  print(i,"discount")
if x>=10000:
   z=x*20/100
   print(z,"disount")
if x<10000:
   y=x*5/100
   print(y,"discount")

ticket fare13000
2600.0 disount

In [37]:
x=int(input("enter the number"))
if x>0:
  print(x,"number is positive")
elif x==0:
  print(x,"number is zero")
else:
  print(x,"number is negative")

enter the number20
20 number is positive

In [47]:
x=int(input("age of the passenger"))
if x<2:
  print(x,"adult")
if x>13 and x<19:
  print("teenager")
if x>6 and x<12:
  print("kid")
if x>2 and x<5:
  print("toddler")
elif x>18:
  print("infant")

age of the passenger3
toddler

In [50]:
x=input("initial letter")
if x=="a":
  print("vowel")
if x=="e":
  print("vowel")
if x=="i":
  print("vowel")
if x=="0":
  print("vowel")
if x=="u":
  print("vowel")
else:
  print("not a vowel")

initial letterp
not a vowel

In [51]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2!=0 :
    print(a)

Enter Starting Value 10
Enter Ending Value 20
11
13
15
17
19

In [52]:
x=input("enter your name")
for a in x:
  print(a)

enter your namemaria
m
a
r
i
a